{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}

{% block body %}
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif
  }

  .fa-anchor,
  .fa-coffee {
    font-size: 200px
  }

  h1.quote {
    font-family: monospace;
  }

  b,
  strong {
    font-weight: bolder;
    text-shadow: 1px 1px 1px #291e1e, 1px 1px 10px #826c6c;
  }
</style>
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">"We Rise By Lifting Others" </h1>
  <p class="w3-xlarge">Donation system based on - BLOCKCHAIN TECHNOLOGY</p>
  <a href="/donate"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">DONATE NOW</button></a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>GOVERMENT SCHEMES FOR HEALTH TREATMENT FUND DONATION</h1>
      <h5 class="w3-padding-32">Donate Because It Feels Good :)</h5>

      <p class="w3-text-grey">Assists partially to defray the expenses for medical treatment like heart surgery,
        kidney transplantation, cancer treatment of needy people and acid attack etc.<br>
        <br>Donations are accepted through:</h3><br> BHIM/UPI (VPA: pmnrf@ centralbank), Credit Cards / Debit Cards /
        Netbanking Accounts of Indian Banks only..
      </p>
    </div>
    
    <div class="w3-row-padding w3-padding-64 w3-container" id ="about-us">
      <div class="w3-content">
        <div class="w3-twothird">
          <h3>About Us</h3>
          <p>The problem of transparency in donation systems has long been a topic for discussion.<br>
            However, the emphasis on transparency raises privacy concerns for donors and recipients, with
            some people attempting to hide donations or the receipt of money.<br> Therefore, a donation system
            that guarantees transparency and privacy is required to avoid negative side effects.<br><br>

            So we are implementing BLOCKCHAIN TECHNOLOGY in this donation system .<br>
            The developed system could contribute to the creation of a sustainable and safe donation environment and
            culture.<br><br>
            This system is generated and maintained by BE final year students of "UNIVERSAL COLLEGE OF ENGEERNING,
            Mumbai":
            Darshana Sawant , Megha Vadher , Shivani Pandeyunder the guidance of
            faculty guide Mrs.Hezal Lopes and Mrs.Dipti Patil<br><br> THANKYOU
          <p>
        </div>



        <div class="w3-third w3-center">
          <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
        </div>
      </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>

        <div class="w3-twothird">
          <h1>Health and Family <br>WelfareHealth care</h1>
          <h4 class="w3-padding-32">Health & Family WelfareHealth care should be within the reach of every citizen.
            For providing basic health facilities to all citizens, government has introduced and implemented various
            health schemes and programmes. <br>This section provides information pertaining to health programmes,
            policies, schemes, forms etc. for specific beneficiaries which include women, children, senior citizen,
            etc. Details of Union and state government agencies, departments, organisations, research institutions,
            hospitals are also available..</h5>

            <p class="w3-text-grey">The Prime Minister’s National Relief Fund PMNRF) are utilized primarily to render
              immediate relief to families of those killed in natural calamities like floods, cyclones and
              earthquakes, etc. and to the victims of the major accidents and riots. In addition to this, the PMNRF
              provides financial assistance to indigent patients for treatment of major diseases at Government/ PMNRF
              empanelled hospitals to partially defray the expenses. Disbursements are made with the approval of the
              Prime Minister.<br><br>
              Applicants can apply for grant of financial assistance through an application form addressed to the
              Prime Minister. Applicants, applying for grant of financial assistance for medical treatment, are
              required to enclose two passport size photographs of patient (one pasted on application, another stapled
              with application), copy of residence proof, original medical certificate incorporating the type of
              disease and estimated cost of expenditure and copy of his/her income certificate. <br>After receipt of
              application, the same is considered and disbursements are made at the sole discretion of the Prime
              Minister, keeping in view availability of funds and prior commitments of the PMNRF.<br>

              Health Minister’s Discretionary Grant (HMDG)<br>
              Financial assistance is provided under HMDG to the poor patients with family income less than
              Rs.1,00,000/- annually and suffering from major illness and undergoing treatment in Government
              Hospitals/Institutions, to defray a part of the expenditure on hospitalization/treatment, in cases where
              free medical facilities are not available.<br>
              <br>

            <h3>The broad criteria laid down for sanctioning such grants are:</h3>
            <br>
            1) Reimbursement of expenditure already incurred is not permissible.<br>
            2) Prolonged treatment involving recurring expenditure is not permissible.<br>
            3) Financial assistance is not admissible for diseases of common nature where treatment is not
            expensive.<br>
            4) Financial assistance is not admissible for T.B. cases for which free treatment is available under
            National T.B.Control Programme.<br>
            5)Cases for treatment in private hospital are not entertained.<br>
            6) Central as well as State Government employees are not eligible for grant under rules.<br>
            7) Only those having annual family income up to Rs.1.00,000/ - and below are eligible for financial
            assistance from Health Minister’s Discretionary Grant (HMDG)<br><br>
            <h2>NEED DONATION HELP FOR MEDICAL TREATMENT?</h2><br>
            <h3>Financial assistance limits are as follows:</h3><br>

            1) Rs.50, 000/- if the estimated cost of treatment is up to Rs. 1, 00,000/- .<br>
            2) Rs. 75,000/- if the estimated cost of treatment is above Rs. 1,00,000/- & up to Rs. 1,50,000/-.<br>
            3)Rs.1, 00,000/- if the estimated cost of treatment is above Rs.1, 50,000/-.<br><br>
            <h3>Application process:</h3><br>
            To avail financial assistance under HMDG,the patient is required to submit :<br><br>

            1) A copy of the prescribed proforma application duly filled in by the treating Doctor/HOD and duly
            countersigned by the Medical Superintendent of the Hospital from where the patient is receiving the
            treatment, to be submitted to the Ministry of Health & Family Welfare.<br><br>
            2) A Certificate in original from the BDO/ Tehsildar/Collector /SDM (quoting full name, designation,
            telephone number and complete official address of the certificate issuing authority) regarding occupation
            and monthly/yearly income of the applicant and his/her family members from all sources.<br><br>
            3) Copy of the ration card.<br>
            </p>
        </div>
      </div>
    </div>

    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="quote"><i class="fas fa-pencil-alt"></i></i> <strong>Quote: </strong>{{sr}}</h1>
    </div>
  </div>
</div>
{% endblock %}