{% extends 'base.html' %}
{% block title %} Ngo Form {% endblock %}

{% block body %}
<style>
    body {
        background-color: #ae3535;
        color: aliceblue;
    }

    label {
        margin-bottom: 6px;
    }

    .card {
        box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.7);
        transition: 0.3s;
        border-radius: 20px;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto 0 auto;
        padding: 0 1.5rem 2rem;
        /* 5px rounded corners */
    }

    .mt-2 {
        margin-top: 12.5rem !important;
        margin-bottom: 12.5rem;
    }

    .row {
        justify-content: center;
    }

    .row>* {
        margin-bottom: 20px;
        
    }
    .form-control{
        font-size: 15px;
    }
    .card-header:first-child {
        text-shadow: 1px 1px 1px #291e1e, 1px 1px 10px #826c6c;
    }

    @media (max-width: 750px) {

        .row>* {
            width: 100%;
        }
    }

    @media (min-width: 1400px) {

        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            max-width: 1000px;
        }

     
    }
</style>

<div class="mt-2 col-md-12">
    <div class="container ">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="card  card-dark bg-dark">
            <div class="card-header">
                Fundraising Form <i class="far fa-address-card"></i>
            </div>
            <div class="card-body">
                <form class="was-validated" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="coloumn">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputname" name="name"
                                placeholder="Enter your full name " minlength='7' required>
                            <div class="invalid-feedback">
                                Please enter your name..
                            </div>
                        </div>
                        <div class="column">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" name="email" required>
                            <div class="invalid-feedback">
                                Please enter your Email..
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <label for="inputPhone" class="form-label">phone</label>
                            <input id="phone" class="form-control" type="tel" name="phone" minlength="10" maxlength="10" placeholder="7977912345"
                                required>
                            <div class="invalid-feedback">
                                Please enter your Phone no..
                            </div>
                        </div>
                        <div class="column">
                            <label for="inputPhone" class="form-label">Aadhar-card</label>
                            <input id="aadhar" class="form-control" type="tel" maxlength="12" minlength="12" name="aadhar" placeholder="997035621349"
                                required>
                            <div class="invalid-feedback">
                                Please enter your aadhar no..
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                                name="address" required>
                            <div class="invalid-feedback">
                                Please enter your address..
                            </div>
                        </div>
                        <div class="column">
                            <label for="inputAddress2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2"
                                placeholder="Apartment, studio, or floor">
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity" name="city" required>
                            <div class="invalid-feedback">
                                Please enter city..
                            </div>
                        </div>
                        <div class="column">
                            <label for="inputState" class="form-label">State</label>
                            <input type="text" class="form-control" id="inputstate" name="state" required>
                            <div class="invalid-feedback">
                                Please enter state..
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="column">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip" name="zip" maxlength="6" required>
                            <div class="invalid-feedback">
                                Please enter your zip-code..
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="cloumn">
                            <label for="exampleFormControlTextarea1" class="form-label">Detail about illness</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" minlength="10" rows="5" name="details" placeholder="Write in detail about your illness and required amount."
                                required></textarea>
                            <div class="invalid-feedback">
                                Please enter your details..
                            </div>
                        
                        </div>
                        <div class="cloumn">
                            <label for="exampleFormControlTextarea1" class="form-label">Bank Details</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" minlength="5" rows="5" name="bd" placeholder="Enter your bank name, account no and ifsc code or upi"
                                required></textarea>
                            <div class="invalid-feedback">
                                Please enter your bank details or upi-id..
                            </div>
                        
                        </div>
                       

                    </div>
                    <div class="row">
                        <div class="cloumn">
                            <label for="myfile">Upload Medical Certificate.</label>
                            <input type="file" class="form-control" aria-label="file example" name="file1" required>
                            <div class="invalid-feedback">Only pdf and image are supported</div>
                        </div>
                        <div class="cloumn">
                            <label for="myfile">Upload Income Certificate.</label>
                            <input type="file" class="form-control" aria-label="file example" name="file2" required>
                            <div class="invalid-feedback">Only pdf and image are supported</div>
                        </div>
                        <div class="cloumn">
                            <label for="myfile">Upload Medical Bill Proof.</label>
                            <input type="file" class="form-control" aria-label="file example" name="file3" required>
                            <div class="invalid-feedback">Only pdf and image are supported</div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">submit</button>

                </form>
                

            </div>
            
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () {

        setTimeout(function () {
            if ($(".alert").is(":visible")) {
                //you may add animate.css class for fancy fadeout
                $(".alert").fadeOut("fast");
            }

        }, 3000)

    });
</script>

{% endblock %}